.nsfw {
  background-color: var(--nsfw-color);
  color: var(--nsfw-contrast-color);
}

.insecure {
  background-color: var(--color-foreground-secondary);
  color: var(--color-background);
}

.secure {
  background-color: var(--primary-color);
  color: var(--primary-contrast);
}
