.pageFooter {
  background-color: var(--primary-color);
  color: var(--primary-contrast-secondary);
  padding-block-start: var(--step-4);
  padding-block-end: calc(env(safe-area-inset-bottom, 0) + var(--step-4));
}

.pageFooter > div {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
