.container {
  grid-area: aside;
}

.aside {
  position: sticky;
  top: calc(2.5em + 3 * calc(var(--step--2))); /* Height of sticky header */
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .aside {
    display: none;
  }
}

.linkList {
  margin-block-end: var(--step-1);
  list-style-type: none;
}

.listItem {
  margin-block: var(--step--4);
}

.nav {
  font-size: var(--step--1);
}
