.container {
  grid-area: aside;
}

.aside {
  position: sticky;
  top: calc(2em + 3 * calc(var(--step--3))); /* Height of sticky header */
  z-index: 1;
}

@media screen and (max-width: 50rem) {
  .aside {
    display: none;
  }
}
