.cardLink {
  text-decoration: none;
  color: inherit;
}

.card {
  padding-inline: 2rem;
  padding-block: 1rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.card:hover {
  background-color: var(--hover-color);
}

.card img {
  width: 5rem;
}

.authorContainer {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 0.5rem;
}

.subtitle {
  color: var(--background-contrast-secondary);
}
