.cardLink {
  text-decoration: none;
  color: inherit;
}

.card {
  padding-inline: 2rem;
  padding-block: 1rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.25rem;
}

.card:hover {
  background-color: var(--hover-color);
}

.card img {
  width: 6rem;
}

.card h4 {
  margin-bottom: 0.5rem;
}

.authorContainer {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 0 0.5rem;
  flex-wrap: wrap;
}

.subtitle {
  color: var(--background-contrast-secondary);
}

.metadataContainer {
  display: flex;
  flex-direction: row;
  gap: 0 1rem;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .card {
    border-radius: 0;
    padding-inline: 1.25rem;
    padding-block: 0.75rem;
  }

  .card img {
    width: 5rem;
  }
}
