.badge {
  border-radius: 99px;
  fill: currentColor;
  font-size: var(--step--2);
  font-weight: 700;
  padding-block: 0.125rem;
  padding-inline: var(--step--4);
  text-transform: uppercase;
  gap: 0.25rem;
  letter-spacing: 0.02em;
  height: max-content;
}
