@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

@layer normalize {
  * {
    box-sizing: border-box;
    font-family: inherit;
    margin: 0;
    outline-offset: max(0.0625rem, 1px);
    padding: 0;
    text-decoration-thickness: from-font;
  }

  html {
    font-kerning: normal;
    font-optical-sizing: auto;
    -webkit-font-smoothing: antialiased;
    font-synthesis: none;
    hanging-punctuation: first allow-end last;
    hyphenate-character: "â€"; /* Unambiguous hyphen U+2010 */
    letter-spacing: 0;
    margin: 0;
    orphans: 2;
    overflow-wrap: break-word;
    padding: 0;
    tab-size: 2;
    text-rendering: geometricPrecision;
    text-underline-position: from-font;
    text-wrap: pretty;
  }

  [hidden] {
    display: none;
  }

  body {
    min-height: 100svh;
  }

  p {
    line-height: 1.55;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.35;
    text-wrap: balance;
  }

  b,
  strong {
    font-weight: bolder;
  }

  em,
  i,
  var {
    font-style: italic;
  }

  em > em,
  em > i,
  i > em,
  i > i {
    font-style: normal;
  }

  code,
  kbd,
  pre,
  samp {
    font-family: ui-monospace, monospace;
  }

  abbr {
    text-decoration: none;
  }

  hr {
    box-sizing: content-box;
    height: 0;
  }

  audio,
  canvas,
  figure,
  embed,
  iframe,
  img,
  object,
  picture,
  svg,
  video {
    display: block;
    max-width: 100%;
  }

  picture,
  img,
  svg,
  video,
  canvas {
    border-style: none;
    height: auto;
  }

  audio {
    width: 100%;
  }

  button {
    touch-action: manipulation;
  }

  fieldset {
    border: 0;
    min-width: 0;
  }
}

@layer fonts {
  @font-face {
    font-family: "Atkinson Hyperlegible";
    src: url("/fonts/Atkinson-Hyperlegible-Regular-102a.woff2") format("woff2"),
      url("/fonts/Atkinson-Hyperlegible-Regular-102.woff") format("woff");
    font-style: normal;
    font-weight: 300;
  }
  @font-face {
    font-family: "Atkinson Hyperlegible";
    src: url("/fonts/Atkinson-Hyperlegible-Italic-102a.woff2") format("woff2"),
      url("/fonts/Atkinson-Hyperlegible-Italic-102.woff") format("woff");
    font-style: italic;
    font-weight: 300;
  }
  @font-face {
    font-family: "Atkinson Hyperlegible";
    src: url("/fonts/Atkinson-Hyperlegible-Bold-102a.woff2") format("woff2"),
      url("/fonts/Atkinson-Hyperlegible-Bold-102.woff") format("woff");
    font-style: normal;
    font-weight: 700;
  }
  @font-face {
    font-family: "Atkinson Hyperlegible";
    src: url("/fonts/Atkinson-Hyperlegible-BoldItalic-102a.woff2")
        format("woff2"),
      url("/fonts/Atkinson-Hyperlegible-BoldItalic-102.woff") format("woff");
    font-style: italic;
    font-weight: 700;
  }
}

@layer core {
  :root {
    /* Colors */
    --primary-color: #06402b;
    --background-acent: #c9eae6;

    /* Type scale */
    --step--2: clamp(0.6944rem, 0.6645rem + 0.1497vw, 0.8442rem);
    --step--1: clamp(0.8333rem, 0.7749rem + 0.2919vw, 1.1253rem);
    --step-0: clamp(1rem, 0.9rem + 0.5vw, 1.5rem);
    --step-1: clamp(1.2rem, 1.0401rem + 0.7995vw, 1.9995rem);
    --step-2: clamp(1.44rem, 1.1949rem + 1.2253vw, 2.6653rem);
    --step-3: clamp(1.728rem, 1.363rem + 1.8249vw, 3.5529rem);
    --step-4: clamp(2.0736rem, 1.5411rem + 2.6624vw, 4.736rem);

    accent-color: var(--primary-color);
    color-scheme: only light;
    font-family: "Atkinson Hyperlegible", system-ui, -apple-system,
      BlinkMacSystemFont, "Segoe UI", sans-serif;
    font-size: 16px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Noto Serif", serif;
    font-weight: bold;
  }

  h1 {
    font-size: var(--step-3);
  }

  h2 {
    font-size: var(--step-2);
  }

  h3 {
    font-size: var(--step-1);
  }

  h4 {
    font-size: var(--step-0);
  }

  h5 {
    font-size: var(--step--1);
  }

  h6 {
    font-size: var(--step--2);
  }
}
