@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@layer normalize {
  * {
    box-sizing: border-box;
    font-family: inherit;
    margin: 0;
    outline-offset: max(0.0625rem, 1px);
    padding: 0;
    text-decoration-thickness: from-font;
  }

  html {
    font-kerning: normal;
    font-optical-sizing: auto;
    -webkit-font-smoothing: antialiased;
    font-synthesis: none;
    hanging-punctuation: first allow-end last;
    hyphenate-character: "â€"; /* Unambiguous hyphen U+2010 */
    letter-spacing: 0;
    margin: 0;
    orphans: 2;
    overflow-wrap: break-word;
    padding: 0;
    tab-size: 2;
    text-rendering: geometricPrecision;
    text-underline-position: from-font;
    text-wrap: pretty;
  }

  [hidden] {
    display: none;
  }

  body {
    min-height: 100svh;
  }

  p {
    line-height: 1.55;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.35;
    text-wrap: balance;
  }

  b,
  strong {
    font-weight: bolder;
  }

  em,
  i,
  var {
    font-style: italic;
  }

  em > em,
  em > i,
  i > em,
  i > i {
    font-style: normal;
  }

  code,
  kbd,
  pre,
  samp {
    font-family: ui-monospace, monospace;
  }

  abbr {
    text-decoration: none;
  }

  hr {
    box-sizing: content-box;
    height: 0;
  }

  audio,
  canvas,
  figure,
  embed,
  iframe,
  img,
  object,
  picture,
  svg,
  video {
    display: block;
    max-width: 100%;
  }

  picture,
  img,
  svg,
  video,
  canvas {
    border-style: none;
    height: auto;
  }

  audio {
    width: 100%;
  }

  button {
    touch-action: manipulation;
  }

  fieldset {
    border: 0;
    min-width: 0;
  }
}

@layer fonts {
  @font-face {
    font-family: "Atkinson Hyperlegible";
    src: url("/fonts/Atkinson-Hyperlegible-Regular-102a.woff2") format("woff2"),
      url("/fonts/Atkinson-Hyperlegible-Regular-102.woff") format("woff");
    font-style: normal;
    font-weight: 300;
  }
  @font-face {
    font-family: "Atkinson Hyperlegible";
    src: url("/fonts/Atkinson-Hyperlegible-Italic-102a.woff2") format("woff2"),
      url("/fonts/Atkinson-Hyperlegible-Italic-102.woff") format("woff");
    font-style: italic;
    font-weight: 300;
  }
  @font-face {
    font-family: "Atkinson Hyperlegible";
    src: url("/fonts/Atkinson-Hyperlegible-Bold-102a.woff2") format("woff2"),
      url("/fonts/Atkinson-Hyperlegible-Bold-102.woff") format("woff");
    font-style: normal;
    font-weight: 700;
  }
  @font-face {
    font-family: "Atkinson Hyperlegible";
    src: url("/fonts/Atkinson-Hyperlegible-BoldItalic-102a.woff2")
        format("woff2"),
      url("/fonts/Atkinson-Hyperlegible-BoldItalic-102.woff") format("woff");
    font-style: italic;
    font-weight: 700;
  }
}

@layer core {
  :root {
    /* Colors */
    --primary-color: #06402b;
    --primary-hover: oklch(from var(--primary-color) calc(l * 0.94) c h);
    --primary-active: oklch(from var(--primary-color) calc(l * 0.88) c h);

    --primary-contrast: #ffffff;
    --primary-contrast-secondary: #cbe9d8;
    --background-acent: #c9eae6;
    --nsfw-color: red;
    --nsfw-contrast-color: #ffffff;
    --border-color: #e0e0e0;
    --divider-color: #ccc;
    --hover-color: rgb(0 0 0 / 0.05);

    --color-link: #0000ee;
    --color-background: white;
    --color-foreground: black;
    --color-foreground-secondary: oklch(
      from var(--color-foreground) l c h / 55%
    );

    /* Type scale */
    --step--5: clamp(0.4019rem, 0.4003rem + 0.0077vw, 0.4096rem);
    --step--4: clamp(0.4751rem, 0.4837rem + -0.0072vw, 0.4823rem);
    --step--3: clamp(0.5787rem, 0.5678rem + 0.0546vw, 0.6333rem);
    --step--2: clamp(0.6944rem, 0.6645rem + 0.1497vw, 0.8442rem);
    --step--1: clamp(0.8333rem, 0.7749rem + 0.2919vw, 1.1253rem);
    --step-0: clamp(1rem, 0.9rem + 0.5vw, 1.2rem);
    --step-1: clamp(1.1rem, 0.95em + 0.65vw, 1.6rem);
    --step-2: clamp(1.2rem, 1.0401rem + 0.7995vw, 1.9995rem);
    --step-3: clamp(1.44rem, 1.1949rem + 1.2253vw, 2.6653rem);
    --step-4: clamp(1.728rem, 1.363rem + 1.8249vw, 3.5529rem);
    --step-5: clamp(2.0736rem, 1.5411rem + 2.6624vw, 4.736rem);
    --step-6: clamp(2.4883rem, 1.7234rem + 3.8248vw, 6.3131rem);

    /* Misc */
    --box-shadow: 0 0.25rem var(--step-0) 0 oklch(0 0 0 / 6%);
    --hairline: max(0.0625rem, 1px);
    --border-radius: 0.4rem;
    --border: var(--hairline) solid var(--border-color);

    /* Fonts */
    --body-font: "Open Sans", system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", sans-serif;
    --chapter-body-font: "Atkinson Hyperlegible", var(--body-font);
    --heading-font: "Noto Sans", serif;
    --serif-heading-font: "Noto Serif", serif;

    accent-color: var(--primary-color);
    color: var(--color-foreground);
    color-scheme: light dark;
    font-family: var(--body-font);
    font-size: 16px;
  }

  [data-theme="dark"] {
    --primary-color: #127551;

    --border-color: #666;
    --divider-color: #666;
    --hover-color: rgb(255 255 255 / 0.025);

    --color-link: #5ba6e7;
    --color-background: #1f1f1f;
    --color-foreground: #dddddd;
  }

  *:focus-visible {
    outline: calc(2 * var(--hairline)) solid var(--color-foreground);
  }

  body {
    background-color: var(--color-background);
    font-size: var(--step-0);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--heading-font);
    font-weight: bold;
  }

  h1 {
    font-size: var(--step-4);
  }

  h2 {
    font-size: var(--step-3);
  }

  h3 {
    font-size: var(--step-2);
  }

  h4 {
    font-size: var(--step-1);
  }

  h5 {
    font-size: var(--step-0);
  }

  h6 {
    font-size: var(--step--1);
  }

  p,
  a,
  li {
    font-size: inherit;
  }

  a {
    transition: color 0.15s ease-in-out;

    &:has(> button) {
      display: inline-flex;
      text-decoration: none;
    }
  }

  hr {
    margin-block: 0.25rem;
    border: var(--border);
  }

  label {
    font-size: var(--step--1);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.04em;
  }

  a.button,
  button,
  input,
  select,
  textarea {
    border: var(--border);
    border-radius: var(--border-radius);
    font-family: inherit;
    padding-inline: var(--step--1);
    padding-block: var(--step--4);

    &:disabled {
      cursor: not-allowed;
      filter: grayscale();
      opacity: 40%;
    }
  }

  a.button,
  button,
  input[type="button"],
  input[type="reset"],
  input[type="submit"] {
    align-items: center;
    background-color: var(--primary-color);
    border: none;
    color: var(--primary-contrast);
    cursor: pointer;
    display: inline-flex;
    font-size: var(--step--1);
    font-weight: 500;
    gap: var(--step--3);
    justify-content: center;
    letter-spacing: 0.05em;
    padding-inline: var(--step-2);
    transition: background-color 150ms ease;

    &:not(:disabled) {
      &:hover {
        background-color: var(--primary-hover);
      }
      &:active {
        background-color: var(--primary-active);
      }
    }
  }

  select,
  input:not([type]),
  input[type="date"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="week"] {
    background: var(--color-background);
    color: var(--color-foreground);
    font-size: var(--step-0);

    &::placeholder {
      color: var(--color-foreground-secondary);
    }
    &:disabled {
      background-color: var(--color-light-gray);
    }
  }
}
