.container {
  font-family: var(--chapter-body-font);
  /* Handle long unbreakable words like '-----------------------' */
  word-break: break-word;
  overflow-wrap: break-word;
  padding-block: 0.5rem;

  & a {
    color: var(--color-link);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  & p {
    margin-block: 1em;
  }

  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    margin-block-start: 0.8em;
    margin-block-end: 0.5em;
  }

  & ul,
  & ol {
    margin-inline-start: 1.1rem;
  }

  & li {
    margin-block: 0.5em;
  }

  & pre {
    white-space: break-spaces;
  }

  & blockquote {
    border-inline-start: 0.25rem solid var(--color-foreground-secondary);
    padding-inline-start: var(--step--2);

    & > p {
      padding-block: var(--step--5);
    }
  }
}
