.subredditIcon {
  background-color: white;
  border-radius: 50%;
  height: 2.75rem;
}

.subredditTitle {
  font-weight: 400;
}

.wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: var(--step--1);
}
