.description {
  color: var(--primary-contrast-secondary);
  font-size: var(--step--1);
  letter-spacing: 0.03em;
  max-width: 60ch;
}

.icon {
  aspect-ratio: 1/1;
  border-radius: 50%;
  height: 2.5rem;
  overflow: hidden;

  & img {
    padding: 0.125rem;
  }

  &:hover {
    opacity: 0.9;
  }
}

.name {
  font-weight: 500;
  letter-spacing: 0.05em;
}

.title {
  font-weight: 300;
}

.header {
  display: flex;
  flex-direction: column;
  gap: var(--step-4);
}

@media screen and (max-width: 768px) {
  /* When searching on mobile, hide the header as the keyboard prevents you
     from seeing the results. */
  .sticky:has(.searchInput:focus-visible) ~ header {
    display: none;
  }
}
