.iconButton {
  min-width: auto;
  width: 2.25rem;
  height: 2.25rem;
  padding: 0;
  background-color: transparent;
  color: var(--primary-color);
  border-radius: 50%;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

.iconButton:hover {
  background-color: var(--hover-color);
  color: var(--primary-darkened);
}
