.buttonGroup {
  display: grid;
  grid-template-columns: max-content max-content 1fr max-content;
  grid-template-areas: "first prev . next";
  column-gap: var(--hairline);

  &.noFirst {
    grid-template-columns: max-content 1fr max-content;
    grid-template-areas: "prev . next";
  }

  &:not(.noFirst) {
    & > :first-child {
      border-top-left-radius: var(--border-radius);
      border-bottom-left-radius: var(--border-radius);
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    & > :nth-child(2) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-top-right-radius: var(--border-radius);
      border-bottom-right-radius: var(--border-radius);
    }
  }
}

.first {
  grid-area: first;
}

.prev {
  grid-area: prev;
}

.next {
  grid-area: next;
}

@media screen and (max-width: 768px) {
  .buttonGroup {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "first prev next";

    &.noFirst {
      grid-template-columns: max-content 1fr max-content;
      grid-template-areas: "prev . next";
    }

    &:not(.noFirst) {
      & > * {
        width: 100%;
        border-radius: 0;
      }

      & > :nth-child(2) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      & > :last-child {
        border-top-right-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);
      }
    }
  }
}
