@keyframes menuShow {
  from {
    opacity: 0;
  }
}

@keyframes menuHide {
  to {
    opacity: 0;
  }
}

.menu,
.menuOpening,
.menuClosing {
  z-index: 100;
  list-style: none;
  user-select: none;
  padding-block: var(--step--4);
  border: var(--border);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  background-color: var(--color-background);
  min-width: 9rem;

  & > li {
    align-items: center;
    display: flex;
    gap: var(--step--2);
    padding-block: var(--step--3);
    padding-inline: var(--step-0);

    & svg {
      min-width: 1.5rem;
    }

    &.selected svg {
      color: var(--primary-color);
    }

    &:hover {
      background-color: var(--hover-color);
    }
  }
}

.menuOpening {
  animation: menuShow 0.15s ease-out;
}

.menuClosing {
  animation: menuHide 0.2s ease-out forwards;
}
