.pageLayout {
  display: grid;
  column-gap: var(--step-0);
  grid-template-columns:
    [full-start] auto [aside-start] 8rem
    [content-start] minmax(min-content, 50rem) [content-end] auto [full-end];
  grid-template-areas:
    "sticky sticky sticky sticky"
    "header header header header"
    ". aside main ."
    "footer footer footer footer";
}

.sticky {
  background-color: var(--primary-color);
  display: grid;
  grid-area: sticky;
  grid-template-columns: subgrid;
  padding-block: var(--step-1);
  padding-inline: var(--step-0);
  position: sticky;
  top: 0;
  z-index: 1;
}

.stickyContent {
  align-items: center;
  display: grid;
  column-gap: var(--step-2);
  grid-template-columns: max-content 1fr max-content;
}

.header {
  background-color: var(--primary-color);
  color: var(--primary-contrast-secondary);
  display: grid;
  grid-area: header;
  grid-template-columns: subgrid;
  margin-block-end: var(--step-1);
  padding-block-start: var(--step-3);
  padding-block-end: var(--step-6);
  padding-inline: var(--step-0);

  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    color: var(--primary-contrast);
    font-family: var(--serif-heading-font);
  }

  &:not(:has(~ .sticky)) {
    padding-block-start: var(--step-5);
  }
}

.aside {
  grid-area: aside;
}

.main {
  grid-area: main;
}

.footer {
  display: grid;
  grid-area: footer;
  grid-template-columns: subgrid;
  margin-block-start: var(--step-1);
  padding-block-start: var(--step-4);
  padding-block-end: calc(env(safe-area-inset-bottom, 0) + var(--step-4));
  padding-inline: var(--step-0);
}

.content,
.stickyContent {
  grid-column-start: content-start;
  grid-column-end: content-end;
}

@media screen and (max-width: 50rem) {
  .pageLayout {
    column-gap: 0;
    grid-template-columns: [content-start] min(100%, 50rem) [content-end];
    grid-template-areas:
      "sticky"
      "header"
      "main"
      "footer";
  }

  .aside {
    display: none;
  }

  .mainPadding {
    padding-inline: var(--step-0);
  }
}
