.selfProfile {
  width: 2.5rem;
  transition: outline 50ms ease-in-out;

  &:hover {
    outline: calc(2 * var(--hairline)) solid var(--primary-contrast);
  }

  &:active {
    outline-color: var(--primary-contrast-secondary);
  }
}
