.pageHeader {
  background-color: var(--primary-color);
  padding-block-end: var(--step-4);

  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    color: var(--primary-color);
    font-family: var(--serif-heading-font);
  }
}

.navContainer {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--step-1);
}

.navBar {
  background-color: var(--primary-color);
  padding-block-start: var(--step-4);
}
