.pageHeader {
  background-color: var(--background-acent);
  padding-block-end: 3rem;
}

/* Page headers which don't have a nav bar preceeding it */
.pageHeader:not(nav ~ .pageHeader) {
  padding-block-start: 2rem;
}

.pageHeader h1,
.pageHeader h2,
.pageHeader h3,
.pageHeader h4,
.pageHeader h5,
.pageHeader h6 {
  color: var(--primary-color);
}

.navContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navBar {
  top: 0;
  position: sticky;
  background-color: var(--background-acent);
}

@media screen and (max-width: 768px) {
  .pageHeader {
    padding-block-end: 2rem;
  }

  /* Page headers which don't have a nav bar preceeding it */
  .pageHeader:not(nav ~ .pageHeader) {
    padding-block-start: 1rem;
  }
}
