.iconButton {
  aspect-ratio: 1/1;
  background-color: var(--primary-contrast);
  border-radius: 50%;
  color: var(--primary-color);
  padding: 0;
  transition: outline 50ms ease-in-out;
  width: 2.5rem;

  &:hover {
    outline: calc(2 * var(--hairline)) solid var(--primary-contrast);
  }

  &:active {
    outline-color: var(--primary-contrast-secondary);
  }
}
