.iconButton {
  background-color: var(--primary-contrast);
  border-radius: 50%;
  color: var(--primary-color);
  height: 2.25rem;
  padding: 0;
  transition: color 150ms ease-in-out, background-color 150ms ease-in-out;
  width: 2.25rem;

  &:hover {
    background-color: var(--primary-contrast-secondary);
    color: var(--primary-hover);
  }

  &:active {
    background-color: var(--primary-contrast-secondary);
    color: var(--primary-active);
  }
}
