.iconButton {
  aspect-ratio: 1;
  background-color: var(--primary-contrast);
  border-radius: calc(1px * infinity);
  color: var(--primary-color);
  padding: 0;
  transition: outline 50ms ease-in-out;
  width: 2.5rem;

  &:hover {
    outline: calc(1 * var(--hairline)) solid var(--primary-contrast);
  }

  &:active {
    outline-color: var(--primary-contrast-secondary);
  }
}

@media screen and (max-width: 50rem) {
  .iconButton {
    width: 2rem;
  }
}
