.container {
  max-width: 50rem;
  margin-inline: auto;
  padding-inline: var(--step-2);
}

.blockPadding {
  padding-block: var(--step--2);
}

@media screen and (max-width: 768px) {
  main.container {
    padding-inline: 0;
  }
}
