.loginCard {
  align-items: flex-start;
  border-radius: 1rem;
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  gap: var(--step-2);
  padding-block-start: var(--step-3);
  padding-block-end: var(--step-5);
  padding-inline: var(--step-5);
  max-width: 35rem;

  & h2 {
    font-weight: 600;
  }

  & h3 {
    font-weight: 400;
    margin-block-start: var(--step--4);
  }

  & p {
    color: var(--color-foreground-secondary);
    font-size: var(--step--1);
  }
}

.icon {
  aspect-ratio: 1/1;
  width: 3.5rem;
}

.iconLink:hover {
  opacity: 0.85;
}

.inlineLink {
  text-decoration: underline;
}

.redditButton {
  font-size: var(--step-0);
  padding-block: var(--step--1);
}
