.loginCard {
  max-width: 35rem;
}

.icon {
  aspect-ratio: 1/1;
  background-color: #0390fc;
  border-radius: 50%;
  width: 3rem;
}

.iconLink:hover {
  opacity: 0.9;
}

.content a,
.inlineLink {
  text-decoration: underline;
}

.primaryButton {
  font-size: var(--step-0);
  padding-block: var(--step--1);
}
