.chapterHeader {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
}

.chapterHeader img {
  width: 6rem;
}

.chapterHeader > div {
  width: 100%;
}

.titleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.authorContainer {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 0.5rem;
}

.authorContainer strong {
  letter-spacing: 0.5px;
}

.authorContainer {
  font-size: var(--step-0);
}

.title {
  padding-bottom: 1rem;
}
