.chapterHeader {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: var(--step-2);

  & img {
    width: 7rem;
  }
}

.authorWrapper {
  display: flex;
  flex-direction: column;

  & a {
    color: var(--primary-contrast-secondary);
  }
}

.subreddit {
  letter-spacing: 0.05em;
}

.author {
  font-weight: 600;
}

.timeMetadata {
  margin-block: 0.25rem;
}

@media screen and (max-width: 768px) {
  .chapterHeader {
    gap: 0.75rem;

    & img {
      width: 5rem;
    }

    & h2 {
      font-size: var(--step-2);
    }
  }
}
