.subtleLink {
  color: var(--primary-contrast);
  text-decoration: none;

  &:hover {
    color: var(--primary-contrast-secondary);
  }
}

.underlinedLink {
  color: var(--color-foreground);
  font-size: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
