.subtleLink {
  color: var(--color-foreground-secondary);
  font-size: inherit;
  font-weight: 450;
  letter-spacing: 0.02em;
  text-decoration: none;

  &:hover {
    color: var(--color-foreground);
    text-decoration: underline;
    text-decoration-color: var(--primary-color);
  }
}

.underlinedLink {
  color: inherit;
  font-size: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
