.coverArt {
  aspect-ratio: 2/3;
  background-color: var(--color-cover-image-background);
  color: var(--color-cover-image-foreground);
  font-size: var(--step--1);
  border: var(--border);
  width: 7rem;
  padding: 0.1875rem;
}

@media screen and (max-width: 50rem) {
  .coverArt {
    width: 5rem;
  }
}
