.appIcon {
  width: 2.5rem;
  aspect-ratio: 1;
}

@media screen and (max-width: 50rem) {
  .appIcon {
    width: 2rem;
  }
}

.normalAppIcon {
  --icon-foreground-color: var(--primary-contrast);
  --icon-background-color: var(--primary-color);
}

.invertedAppIcon {
  --icon-foreground-color: var(--primary-color);
  --icon-background-color: var(--primary-contrast);
}
